
  <main>
<div class="intro-text">
  <p>ILoveEat — a website for creating lists of restaurants you want to visit. Eat with us.</p>
</div>

<h2 class="places-title">Popular restaurants to visit</h2>

<div class="places">
    <div class="place">
      <img src="https://restolife.kz/upload/information_system_6/2/4/6/item_24688/information_items_property_31348.jpg" alt="Place 1" class="place-image" />
      <p>Coffee Boom – A cozy spot perfect for enjoying specialty coffee and relaxing with friends.</p>
    </div>
    <div class="place">
      <img src="https://api.interior.ru/media/images/DESIGN/INTERIORS/Astana/obl_Astana.jpg" alt="Place 2" class="place-image" />
      <p>Selfie – A stylish restaurant offering modern dishes in an Instagram-worthy atmosphere.</p>
    </div>
    <div class="place">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/44/ea/fe/once.jpg?w=900&h=500&s=1" alt="Place 3" class="place-image" />
      <p>Once – A charming place that blends elegant ambiance with delicious, thoughtfully crafted meals.</p>
    </div>
  </div>
  

<section class="travel-tips">
  <h2>Dining Tips</h2>
  <ul>
    <li><strong>Try Local Cuisine.</strong> It’s a great way to experience the culture and discover new flavors.</li>
    <li><strong>Check Reviews.</strong> Use apps like Google Maps or TripAdvisor to find top-rated restaurants.</li>
    <li><strong>Be Open-Minded.</strong> Don’t be afraid to try dishes that are unfamiliar to you.</li>
    <li><strong>Learn Basic Dining Etiquette.</strong> Understanding local table manners shows respect.</li>
    <li><strong>Stay Hydrated.</strong> Especially when eating spicy or salty foods.</li>
    <li><strong>Ask Locals for Recommendations.</strong> They often know the best hidden gems.</li>
    <li><strong>Watch Out for Food Allergies.</strong> Learn how to explain them in the local language.</li>
  </ul>
  
  </section>  
    <router-outlet />
  </main>